<div class="container">
  <h2 class="page-title">商品新規登録</h2>

  <%= render 'shared/error_message', model: @item %>

  <%= form_with model: @item, url: admin_items_path, :html => {class: "needs-validation", novalidate: true}  do |f| %>


    <div class="form-row items-new-form-row">
      <div class="form-group col-md-12">
        <label for="inputItemImage">商品画像</label><br>
        <%= f.attachment_field :image, required: true, id: "inputItemImage" %>
      </div>
    </div>
    <div class="form-row items-new-form-row">
      <div class="form-group col-md-12">
        <label for="inputItemName">商品名</label>
        <%= f.text_field :name, autofocus: true, placeholder: "商品名", required: true, class: "form-control", id: "inputItemName" %>
        <div class="invalid-feedback">
         商品名を入力してください。
        </div>
      </div>
    </div>
    <div class="form-row items-new-form-row">
      <div class="form-group col-md-12">
        <label for="inputItemDescription">商品説明</label>
        <%= f.text_area :description, rows: "6", autofocus: true, placeholder: "ここに説明文を記述します。", class: "form-control", id: "inputItemDescription" %>
      </div>
    </div>
    <div class="form-row items-new-form-row">
      <div class="form-group col-md-12">
        <label for="inputItemName">ジャンル</label><br>
        <%= f.collection_select :genre_id, Genre.all, :id, :name, autofocus: true, include_blank: "選択して下さい", required: true, id: "inputItemGenre" %>
        <div class="invalid-feedback">
         商品名を入力してください。
        </div>
      </div>
    </div>
    <div class="form-row items-new-form-row">
      <div class="form-group col-md-12">
        <label for="inputItemPrice">税抜価格</label><br>
        <%= f.number_field :tax_excluded_price, autofocus: true, required: true, placeholder: "1000", class: "form-control form-inline-block", id: "inputItemPrice" %> 円
        <div class="invalid-feedback">
         税抜価格を入力してください。
        </div>
      </div>
    </div>
    <div class="form-row items-new-form-row">
      <div class="form-group col-md-12">
        <label>販売ステータス</label><br>
        <%= f.radio_button :sales_status, :売切れ %>
        <%= f.label :sales_status, "売切れ", {value: :売切れ, style: "display: inline-block;"} %>
        <%= f.radio_button :sales_status, :販売中 %>
        <%= f.label :sales_status, "販売中", {value: :販売中, style: "display: inline-block;"} %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "新規登録", class: "btn btn-success" %>
    </div>
  <% end %>
</div>