<div class="container">
  <h2 class="page-title"><%= @end_user.last_name + @end_user.first_name %>さんの会員詳細</h2>
  <table class="table table-borderless item-show-table">
    <tbody>
      <tr>
        <th scope="row">会員ID</th>
        <td><%= @end_user.id %></td>
      </tr>
      <tr>
        <th scope="row">氏名</th>
        <td><%= @end_user.last_name + " " + @end_user.first_name %></td>
      </tr>
      <tr>
        <th scope="row">フリガナ</th>
        <td><%= @end_user.last_name_kana + " " + @end_user.first_name_kana %></td>
      </tr>
      <tr>
        <th scope="row">郵便番号</th>
        <td><%= @end_user.postal_code %></td>
      </tr>
      <tr>
        <th scope="row">住所</th>
        <td><%= @end_user.address %></td>
      </tr>
      <tr>
        <th scope="row">電話番号</th>
        <td><%= @end_user.phone_number %></td>
      </tr>
      <tr>
        <th scope="row">メールアドレス</th>
        <td><%= @end_user.email %></td>
      </tr>
      <tr>
        <th scope="row">会員ステータス</th>
        <td>
          <% if @end_user.deleted_at.nil? %>
            <span class="text-success">有効</span>
          <% else %>
            <span class="text-danger">
              <%= @end_user.deleted_at.strftime("%Y/%m/%d %H:%M") %> に退会済み
            </span>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center pt-5">
    <%= link_to "編集する", edit_admin_customer_path(@end_user), class: "btn btn-success" %>
    <%= link_to "このユーザーの注文履歴を見る", admin_orders_path(end_user_id: @end_user.id), class: "btn btn-primary ml-3" %>
  </div>
</div>