<div class="container">
  <div class="admin-orders-top-box">
    <h2 class="admin-top-title page-title">注文履歴一覧</h2>
    <div class="admin-orders-top-badges">
      <% if params[:q].present? %>
        <span class="badge badge-secondary bg-color-a3a6a9"><%= "ID：#{params[:q][:id_eq]}" if params[:q][:id_eq].present? %></span>
        <span class="badge badge-secondary bg-color-a3a6a9"><%= "注文者：#{params[:q][:end_user_last_name_or_end_user_first_name_or_end_user_last_name_kana_or_end_user_first_name_kana_cont]}" if params[:q][:end_user_last_name_or_end_user_first_name_or_end_user_last_name_kana_or_end_user_first_name_kana_cont].present? %></span>
        <span class="badge badge-secondary bg-color-a3a6a9"><%= "#{params[:q][:created_at_gteq].to_date.strftime("%Y/%m/%d")}から" if params[:q][:created_at_gteq].present? %></span>
        <span class="badge badge-secondary bg-color-a3a6a9"><%= "#{params[:q][:created_at_lteq_end_of_day.to_date.strftime("%Y/%m/%d")]}まで" if params[:q][:created_at_lteq_end_of_day].present? %></span>
        <span class="badge badge-secondary bg-color-a3a6a9"><%= "郵便番号：#{params[:q][:postal_code_cont]}" if params[:q][:postal_code_cont].present? %></span>
        <span class="badge badge-secondary bg-color-a3a6a9"><%= "住所：#{params[:q][:address_cont]}" if params[:q][:address_cont].present? %></span>
        <span class="badge badge-secondary bg-color-a3a6a9"><%= "宛名：#{params[:q][:label_name_cont]}" if params[:q][:label_name_cont].present? %></span>
        <span class="badge badge-secondary bg-color-a3a6a9"><%= "支払方法：クレカ" if params[:q][:payment_method_eq] == "1" %></span>
        <span class="badge badge-secondary bg-color-a3a6a9"><%= "支払方法：銀行振込" if params[:q][:payment_method_eq] == "2" %></span>
        <% Order.statuses_i18n.each_with_index do |status, i| %>
          <% if params[:q].present? && params[:q][:status_eq].present? && i == params[:q][:status_eq].to_i %>
            <span class="badge badge-secondary bg-color-a3a6a9"><%= status[1] %></span>
          <% end %>
        <% end %>

      <% end %>
    </div>
    <%= link_to "#collapseSearchForm", 'data-toggle': :"collapse", 'aria-expanded': :"false", 'aria-controls': :"collapseSearchForm", class: "btn btn-light shadow admin-orders-top-button" do %>
      <i class="fas fa-search"></i> 検索
    <% end %>
  </div>
  <div class="collapse" id="collapseSearchForm">
    <div class="collapse-wrapper">
      <div class="card card-body">
        <%= search_form_for @q, url: admin_orders_path do |f| %>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputSearchId">オーダーID</label>
              <%= f.number_field :id_eq, autofocus: true, placeholder: "オーダーID", class: "form-control", id: "inputSearchID" %>
            </div>
            <div class="form-group col-md-6">
              <label for="inputSearchName">注文者氏名</label>
              <%= f.search_field :end_user_id_or_end_user_last_name_or_end_user_first_name_or_end_user_last_name_kana_or_end_user_first_name_kana_cont, autofocus: true, placeholder: "姓名・セイメイ", class: "form-control", id: "inputSearchName" %>
            </div>
          </div>
          <label>注文日</label>
          <div class="form-row">
            <div class="form-group col-md-5">
              <%= f.date_field :created_at_gteq, autofocus: true, class: "form-control", id: "inputSearchDateGteq" %>
            </div>
            <div class="col-md-1 admin-items-search-price-yen">
              <span>から</span>
            </div>
            <div class="form-group col-md-5">
              <%= f.date_field :created_at_lteq_end_of_day, autofocus: true, class: "form-control", id: "inputSearchDateLteq" %>
            </div>
            <div class="col-md-1 admin-items-search-price-yen">
              <span>まで  </span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputSearchPostalCode">郵便番号(ハイフンなし)</label>
              <%= f.search_field :postal_code_cont, autofocus: true, placeholder: "郵便番号", class: "form-control", id: "inputSearchPostalCode" %>
            </div>
            <div class="form-group col-md-6">
              <label for="inputSearchAddress">住所</label>
              <%= f.search_field :address_cont, autofocus: true, placeholder: "住所", class: "form-control", id: "inputSearchAddress" %>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputSearchAddress">宛名</label>
              <%= f.search_field :label_name_cont, autofocus: true, placeholder: "宛名", class: "form-control", id: "inputSearchLabelName" %>
            </div>
            <div class="form-group col-md-6">
              <label for="inputSearchGenre">注文ステータス</label><br>
              <select name="q[status_eq]" id="inputSearchStatus" class="custom-select">
                <option value="">選択して下さい</option>
                <% Order.statuses_i18n.each_with_index do |status, i| %>
                  <% if params[:q].present? && params[:q][:status_eq].present? && i == params[:q][:status_eq].to_i %>
                    <option value="<%= i %>" selected><%= status[1] %></option>
                  <% else %>
                    <option value="<%= i %>"><%= status[1] %></option>
                  <% end %>
                <% end %>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
            <label>支払方法</label><br>
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" value=1 name="q[payment_method_eq]" id="q_payment_method_eq_1" <%= "checked" if params[:q].present? && params[:q][:payment_method_eq] == "1" %>>
                <label style="display: inline-block;" for="q_payment_method_eq_1" class="custom-control-label">クレジットカード</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" value=2 name="q[payment_method_eq]" id="q_payment_method_eq_2" <%= "checked" if params[:q].present? && params[:q][:payment_method_eq] == "2" %>>
                <label style="display: inline-block;" for="q_payment_method_eq_2" class="custom-control-label">銀行振込</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" value="" name="q[payment_method_eq]" id="q_payment_method_eq_nil" <%= "checked" if params[:q].blank? || params[:q][:deleted_at_blank].blank? %>>
                <label style="display: inline-block;" for="q_payment_method_eq_nil" class="custom-control-label">どちらでもよい</label>
              </div>
            </div>
          </div>
          <div class="actions text-center">
            <%= button_tag type: "submit", class: "btn btn-primary px-3" do %>
              <i class="fa fa-search"></i> 検索
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col"><%= sort_link(@q, :created_at, "購入日時") %></th>
        <th scope="col"><%= sort_link(@q, :end_user_last_name, "購入者") %></th>
        <th scope="col">注文個数</th>
        <th scope="col"><%= sort_link(@q, :status, "注文ステータス") %></th>
      </tr>
    </thead>
    <tbody>
      <% if @orders.present? %>
        <% @orders.each do |order| %>
          <tr class="clickable-row" data-href="/admin/orders/<%= order.id %>">
            <td>
              <%= order.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
            </td>
            <td>
              <%= order.end_user.last_name + order.end_user.first_name %>
            </td>
            <td>
              <%= order.order_details.sum(:amount) %>
            </td>
            <td>
              <%= order.status_i18n %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <td colspan="4" class="text-center py-3">
          データがありません
        </td>
      <% end %>
    </tbody>
  </table>
  <%= paginate @orders %>
</div>