<div class="container">
  <h2 class="page-title">注文履歴詳細</h2>
  <div class="d-flex justify-content-between">
    <div class="col-lg-7">
      <h4>注文情報</h4>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row" class="text-white order-confirm-th-col">購入者</th>
            <td>
              <%= link_to (@order.end_user.last_name + @order.end_user.first_name), admin_customer_path(@order.end_user), class: "admin-order-user-link" %>
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-white order-confirm-th-col">注文日</th>
            <td>
              <%= @order.created_at.strftime("%Y/%m/%d") %>
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-white order-confirm-th-col">配送先</th>
            <td>
              〒<%= @order.postal_code %><br>
              <%= @order.address %><br>
              <%= @order.label_name %>
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-white order-confirm-th-col">支払方法</th>
            <td>
              <%= @order.payment_method_i18n %>
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-white order-confirm-th-col">注文ステータス</th>
            <td>
              <%= form_with model: @order, url: admin_order_path(@order), local: true, class: "d-flex" do |f| %>
                <select name="order[status]" id="item_status" class="custom-select">
                  <% Order.statuses_i18n.each do |status| %>
                    <% if status[0] == @order.status %>
                      <option value="<%= status[0] %>" selected><%= status[1] %></option>
                    <% else %>
                      <option value="<%= status[0] %>"><%= status[1] %></option>
                    <% end %>
                  <% end %>
                </select>
                <%= f.submit "変更", class: "btn btn-success ml-3" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-5">
      <h4>請求情報</h4>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row" class="text-white order-confirm-th-col">商品合計</th>
            <td class="text-right">
              ¥ <%= @order.request_total_price.to_s(:delimited) %>
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-white order-confirm-th-col">配送料</th>
            <td class="text-right">
              ¥ <%= @order.shipping_fee.to_s(:delimited) %>
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-white order-confirm-th-col">ご請求額</th>
            <td class="text-right">
              ¥ <%= (@order.shipping_fee + @order.request_total_price).to_s(:delimited) %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="mt-5">
    <table class="table table-bordered">
      <h4>注文内容</h4>
      <thead>
        <tr>
          <th scope="col">商品名</th>
          <th scope="col">単価（税込）</th>
          <th scope="col">個数</th>
          <th scope="col">小計</th>
          <th scope="col">製作ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @order_details.each do |order_detail| %>
          <tr>
            <td class="align-middle">
              <%= link_to order_detail.item.name, admin_item_path(order_detail.item_id), class: "public-order-item-link" %>
            </td>
            <td class="align-middle">
              <%= (order_detail.including_tax_purchase_price).to_s(:delimited) %>
            </td>
            <td class="align-middle">
              <%= order_detail.amount %>
            </td>
            <td class="align-middle">
              <%= (order_detail.including_tax_purchase_price * order_detail.amount).to_s(:delimited) %>
            </td>
            <td class="align-middle">
              <%= form_with model: order_detail, url: admin_order_details_path(order_detail), local: true, class: "d-flex" do |f| %>
                <select name="order_detail[production_status]" id="order_detail_production_status" class="custom-select">
                  <% OrderDetail.production_statuses_i18n.each do |status| %>
                    <% if status[0] == order_detail.production_status %>
                      <option value="<%= status[0] %>" selected><%= status[1] %></option>
                    <% else %>
                      <option value="<%= status[0] %>"><%= status[1] %></option>
                    <% end %>
                  <% end %>
                </select>
                <%= f.submit "変更", class: "btn btn-success ml-3" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


