<nav class="navbar navbar-expand-lg navbar-light fixed-top transparent_header bg-white">
    <div class="container-fluid">
        <% if admin_signed_in? %>
            <a class="navbar-brand" href="/admin/orders">
                <%= image_tag "logo-black-line.png", class: "header-logo-black" %>
            </a>
        <% else %>
            <a class="navbar-brand" href="/">
                <%= image_tag "logo-black-line.png", class: "header-logo-black" %>
            </a>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto"></ul>
            <% if end_user_signed_in? %>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item">
                        <%= link_to "マイページ", mypage_customers_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "商品一覧", items_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "カート", cart_items_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete, class: "nav-link" %>
                    </li>
                </ul>
            <% elsif admin_signed_in? %>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item">
                        <%= link_to "商品一覧", admin_items_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "会員一覧", admin_customers_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "注文履歴一覧", admin_orders_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "ジャンル一覧", admin_genres_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
                    </li>
                </ul>
            <% else %>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item">
                        <%= link_to "About", home_about_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "商品一覧", items_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "新規登録", new_end_user_registration_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "ログイン", new_end_user_session_path, class: "nav-link" %>
                    </li>
                </ul>
            <% end %>
        </div>
    </div>
</nav>